.App {
  padding: 50px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 14px;
}

.App--loading{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
}
